body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

textinput {
	width:100%;
}

code, pre { 
	border: 0;
	line-height: 125%;
	margin: 10px 0;
	min-height: 400px;
	overflow: auto;
	text-align: left;
	width:100%;
}

textarea {
	background-color:#2f1e2e;
	border-radius: 4px;
	border: 0;
	color:#06b6ef;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	font-size: 14px;
	line-height: 125%;
	margin: 20px 0;
	max-width: 100%;
	min-height: 400px;
	width: 100%;
}

.jumbotron {
	text-align: center;
}

.container .jumbotron {
	padding-right: 20px;
	padding-left: 20px;
}

pre {
	padding: 0;
}