# Project
**/_*.*
**/*.map
assets/

# Global
.Sync*
error.log
node_modules/
npm-debug.log
yarn.lock
yarn-error.log

# AVS specific
*.ape
*.avs
*.bmp
*.cff
*.clm
*.exe
*.pimp
*.wav
*.webvs
*.zip
avs/
etc/
ui/

# Development
.eslintcache

# Test
!test/**/*avs
!test/**/*webvs

# Temporary
presets.d.ts
