# Project
**/_*.*
**/*.map
assets/

# Global
.Sync*
error.log
node_modules/
npm-debug.log
yarn.lock

# AVS specific
*.ape
*.avs
*.bmp
*.cff
*.clm
*.exe
*.pimp
*.wav
*.webvs
*.zip
avs/
etc/
ui/

# Test
!test/**/*avs
!test/**/*webvs
